body,h1,h2,h3,h4,h5,a,li,ul,p,div{
	margin:0;
	padding:0;
}

#background_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.page_content {
  position: relative;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.btnR{
	color: red;
	font-weight:bold;
	margin-right:10px;
	padding-left:20px;
	padding-right:20px;
	margin-top:10px;
}

.btnCont{
	
	font-weight:bold;
	margin-top:10px;
	margin-right:10px;
	padding-left:20px;
	padding-right:20px;
}

.c_navbar {
	width: 80%;
    margin: 0 auto;
}

.storyC{
	width: 70%;
	margin:0 auto;	
	background: rgba(0, 0, 0, 0.5);	
	padding:20px;
	
	margin-bottom: 50px;
	clear:both;
}

.infoC{
	width: 80%;
	margin:0 auto;		
	margin-top:15px;
	height:90px;
}

.infoContent{
	float:right;
	padding:10px 20px;
	color: #fff;
    background-color: green;    
	border: 2px solid grey;
	margin-left:10px;
	font-weight:bold;
	height: 50px;
	margin-bottom:10px;
}

.footerC{
	bottom:0;
	position: relative;
	width: 70%;
	margin:0 auto;
}

.virtual-keyboard{
	width: 100%;
    padding: 10px;
    border-radius: 10px;
}

section {
    transition: opacity 1s ease-out;
    height: 0;
    opacity: 0;
	overflow: hidden;
}

section:target {
	opacity: 1;
    height: auto;
}

#container {
	margin: 20px;
	margin-left: 0px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
}

body {
	background-color: #111116;
  }
  
  .center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
  }
  
  .circle {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0 4px;
  }
  
  .circle-1 {
	border: 4px solid #ffffff;
  }
  
  .circle-2 {
	border: 4px solid #5A87FF;
  }
  
  .circle-3 {
	border: 4px solid #18FD91;
  }
  
  .circle-4 {
	border: 4px solid #FBF38C;
  }